.button {
	width: 100%;
	padding: 1rem 2rem;
	font: inherit;
	text-align: center;
	text-decoration: none;
	background-color: #999999;
	border: none;
	border-radius: 1.25rem;
	box-shadow: 0 2px 2px color-mix(in srgb, var(--color-black) 70%, transparent);
	cursor: pointer;
	user-select: none;
}

@media (hover: hover) {
	.button:focus,
	.button:hover {
		color: var(--color-white);
		background-color: #c42b16;
		box-shadow: 0 2px 2px #c42b164d;
	}

	.button:active {
		box-shadow: none;
		opacity: 0.8;
	}
}
